# Project environment
PROJECT_ENV=local

# Data source method: manual or kaggle_api
DATA_SOURCE_METHOD=manual

# Kaggle dataset
KAGGLE_DATASET=olistbr/brazilian-ecommerce
KAGGLE_USERNAME=your_kaggle_username
KAGGLE_KEY=your_kaggle_api_key

# Local folders
RAW_DATA_DIR=./data/raw
METADATA_DIR=./data/metadata
LOG_DIR=./logs

# Pipeline settings
DEFAULT_ENCODING=utf-8
EXPECTED_DELIMITER=,
FAIL_ON_MISSING_REQUIRED_COLUMNS=true